/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #33353d;
    border: 1px solid black;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}